@model List<TestApp.Controllers.SomethingViewModel>
@{
	ViewData["Title"] = "title";
	Layout = "../shared/_Layout.cshtml";
}

<h2 id="title">title</h2>
<div class="hello"> Hello World</div>

<a href="@Url.Action("index", "second")" id="secondPageLink">Second Page</a>

